
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.banner_main {
    background: url(../images/banner.png);
    padding: 300px 0px 0px 0px;
    background-size: auto 78%;
    background-repeat: no-repeat;
    min-height: 1150px;
    background-position: right top;
}

#carouselKo .carousel-caption {
    position: absolute;
    padding: 0;
}

#carouselKo .carousel-indicators {
    display: none;
}


#carouselKo .carousel-control-next {
    width: 45px;
    height: 45px;
    background: transparent;
    opacity: 1;
    font-size: 30px;
    color: #fff;
    border-radius: 40px;
    border: #fff solid 2px;
}

#carouselKo .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: transparent;
    opacity: 1;
    font-size: 30px;
    color: #fff;
    border-radius: 40px;
    border: #fff solid 2px;
}

#carouselKo .carousel-control-prev:hover,
#carouselKo .carousel-control-next:hover,
#carouselKo .carousel-control-prev:focus,
#carouselKo .carousel-control-next:focus {
    background: #fff ;
    color: #fff;
}

#carouselKo .carousel-control-prev {
    position: absolute;
    left: inherit;
    top: 35%;
    right: 16px;
}

#carouselKo .carousel-control-next {
    position: absolute;
    right: 16px;
    bottom: 10px;
    top: 50%;
}

.contact-text{
    color: #0f98f8;
    font-size: 60px;
    font-weight: bold;

}
.contact-text2{
    color: #0f98f8;
    font-size: 150px;
    font-weight: bold;
    max-width: 430px;
    width: 100%;

}

.text-bg {
    margin-top: 70px;
    text-align: left;
    float: right;
    max-width: 430px;
    width: 100%;
}

.text-bg h1 {
    color: #0f98f8;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 45px;
    font-weight: bold;
}

.text-bg span {
    color: #222222;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
    display: block;
}

.ban_track {
    margin-top: 55px;
}

.banner_slide {
    padding: 0 80px;
}

.ban_track figure {
    margin: 0;
}

.transfot {
    text-align: left;
}

.transfot span {
    color: #fff;
    font-size: 17px;
}

.transfot h3 {
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 16px;
}

.transfot_form {
    padding: 0 15px;
    height: 40px;
    margin-bottom: 15px;
    border: #fff solid 1px;
    font-size: 16px;
}



h6 {
    font-size:15px;
    font-weight: normal;
     line-height: normal;
}

.button1:hover{
    background: rgb(209, 22, 22) ;
    color: #fff;
}

.about {
    background-color: #ffffff;
    margin-top: -160px;
}

.about .about_img figure {
    margin: 0;
}

.about .about_img figure img {
    width: 100%;
}

.about .titlepage p {
    padding: 30px 0px;
    color: #2a2a2c;
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
    display: inline-block;
}
.titlepage h2 {
    font-size: 50px;
    color: #0f98f8;
    line-height: 45px;
    font-weight: bold;
    padding: 0;
}
choose {
    background-color: #fff;
    padding-top: 90px;
}

.choose .titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.choose_box i {
    float: left;
    padding-right: 20px;
}

.choose_box h3 {
    padding-top: 46px;
    color: #202121;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

.choose_box p {
    display: inline-block;
    color: #202121;
    font-size: 17px;
    line-height: 30px;
    padding: 10px 0 70px 0;
}
/** vehicles section **/

.vehicles {
    background-color: #fff;
    padding: 70px 0 155px 0;
}

.vehicles .titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.vehicles .titlepage p {
    color: #0d0202;
    padding-top: 15px;
    text-align: center;
    margin: 0 50px;
    font-size: 17px;
    font-weight: 400;
}

.vehicles_truck {
    background-color: #efedf0;
    transition: ease-in all 0.5s;
    width: 100%;
    border-radius: 25px;
    padding: 35px 0;
}

.vehicles_truck:hover {
    background-color: #fff;
    transition: ease-in all 0.5s;
    box-shadow: 0 0 16px rgba(22, 22, 23, 15%)
}

.vehicles_truck figure {
    margin: 0;
}

.blac_co {
    color: #000;
    font-size: 25px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 34px;
}

.vehicles .read_more {
    margin-top: 0px;
    margin: 0 auto;
}

#veh .carousel-caption {
    position: inherit;
    padding: 0;
}

#veh .carousel-indicators {
    display: none;
}

#veh .carousel-control-prev,
#veh .carousel-control-next {
    width: 50px;
    height: 50px;
    background: #efedf0;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 5px;
    top: 111%;
    z-index: 9999;
}

#veh .carousel-control-prev:hover,
#veh .carousel-control-next:hover,
#veh .carousel-control-prev:focus,
#veh .carousel-control-next:focus {
    background: #0f98f8;
    color: #fff;
}

#veh a.carousel-control-prev {
    position: absolute;
    left: 46%;
}

#veh a.carousel-control-next {
    position: absolute;
    right: 46%;
    bottom: 10px;
}

.vehicles .read_more {
    margin: 0 auto;
    padding-top: 150px;
}






/*footer css*/



* {
  font-family: Roboto;
}

.footer-distributed{
	background-color: #12a3f7;
	
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}



/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #f7f7f9;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #d1d5d8;
	border-radius: 2px;

	font-size: 20px;
	color: #000000;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #d1d5d8;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/*Products page*/

.card-body h5{
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 16px;

}
.card-body h4{
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 16px;

}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
